<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pluggie : Smart Plug </title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pluggie</a>
    </div>
    </div>
</nav>

  <div class="container">
    <h3>สมัครสมาชิกระบบ</h3>
      <!--<p>This is Home Page na kub .</p>-->
      <br>
      <div class="well center block" style="max-width:400px">
      {% block content %}
      <form method="post" action="">
          {% csrf_token %}
          {{ form }}
          <br>
          {% load tz %}
          {% get_current_timezone as TIME_ZONE %}
              {% csrf_token %}
              <label for="timezone">Time zone:</label>
              <select name="timezone">
                  {% for tz in timezones %}
                  <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
                  {% endfor %}
              </select>
          <br>
          <input type="submit" class="btn btn-default" name="cancel" value="ยกเลิก" />
          <input type="submit" class="btn btn-primary" name="save" value="ยืนยัน" />
      </form>
      {% endblock %}
  </div>
</div>
</body>
</html>
