<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pluggie : Device's Profile</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pluggie</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/home">หน้าหลัก</a></li>
        <li><a href="/userprofile">ข้อมูลผู้ใช้</a></li>
        <li class="active"><a href="/deviceprofile">ข้อมูลอุปกรณ์</a></li>
        <li><a href="/graph">กราฟแสดงผล</a></li>
      </ul>
      <p align="right">สวัสดี , {{user.first_name}} {{user.last_name}}
        <button type="button" class="btn btn-default btn-xs"><a href="/authen/" style="color: #000000">ออกจากระบบ</a></button>
        <br>เวลาปัจจุบัน : {{date}}</p>  </div>
</nav>

<div class="container">
  <h3>ข้อมูลอุปกรณ์</h3>
  <!--<p>This is Device Profile Page na kub .</p>-->
  <ul class="list-inline">
    <form method="post" action="{% url 'Device' %}">
      <p class="text-right">
      {% csrf_token %}
      <button type="button" class="btn btn-default">
      <a href="/adddevice/" style="color: #000000"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      เพิ่มข้อมูลอุปกรณ์</a></button>
      </p>
<div class="well center block" style="min-width:400px">
  {% for device in devices %}
    <pre><li>
      <strong>รหัสประจำตัวอุปกรณ์:</strong> {{device.device_id}}  <!--<strong>เจ้าของ:</strong> {{device.owner}}-->
      <strong>ชื่ออุปกรณ์:</strong> {{ device.device_name }}
      <strong>ปริมาณไฟฟ้าที่ใช้ทั้งหมด:</strong> {{device.total_usage}} Unit
      <strong>เวลาเปิด:</strong> {{device.openTime}}
      <strong>เวลเปิด:</strong> {{device.closeTime}}

      <button type="button" class="btn btn-default"><a href="/editdevice/{{device.device_id}}" style="color: #000000"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> แก้ไขข้อมูล</a></button><button type="button" class="btn btn-default"><a href="/deletedevice/{{device.device_id}}" style="color: #000000"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> ลบข้อมูล</a></button>
    </li></pre>
  {% endfor %}
</div>
    </form>
  </ul>
  </div>
</body>
</html>
