<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pluggie : Device's Profile</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  {% load staticfiles %}
  <script src="{% static 'angular.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pluggie</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/home">หน้าหลัก</a></li>
        <li><a href="/userprofile">ข้อมูลผู้ใช้</a></li>
        <li class="active"><a href="/deviceprofile">ข้อมูลอุปกรณ์</a></li>
        <li><a href="/graph">กราฟแสดงผล</a></li>
      </ul>
      <p align="right">สวัสดี , {{user.first_name}} {{user.last_name}}
        <button type="button" class="btn btn-default btn-xs"><a href="/authen/signout/" style="color: #000000">ออกจากระบบ</a></button>
        <br>เวลาปัจจุบัน : {{date}}</p>  </div>
</nav>

<div class="container">
  <h3>แก้ไขข้อมูลอุปกรณ์</h3>
  <!--<p>This is Device Profile Page na kub .</p>-->
  <br>
  <div class="well center block" style="max-width:400px">
  <form aciton="." name="deviceprofile" method="post" >
    {% block content %}
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-default" name="cancelupdatedevice" value="ยกเลิก" />
        <input type="submit" class="btn btn-primary" name="updatedevice" value="บันทึกข้อมูล" />
         {% endblock %}
    </form>
</div>
</div>
</body>
</html>
